/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2020e2; /* Color de fondo claro */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    color: #333;
}

/* Contenedor del formulario */
.section {
    width: 100%;
    max-width: 400px;
    background-color: #b80d0d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #22ec70;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: rgb(180, 223, 27);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

